<html>
    <body>
        <h3>Buscar Pelicula</h3>
        <form action="" method="post">
            <label for="buscar"></label>
                <input type="search" name="buscar" id="">
                <input type="submit" value="Buscar">
        </form>
    </body>
</html>