<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Película</title>
</head>
<body>
    <h1>Crear Película</h1>
    <form action="" method="post">
        
        <label for="title">Titulo:</label>
        <input type="text" name='title'>
        <br>
        <label for="awards">Premios:</label>
        <input type="text" name='awards'>
        <br>
        <label for="release_date">Fecha de estreno:</label>            
        <input type="date" name='release_date'>
        <br>
        <label for="length">Duracion:</label>
        <input type="text" name='length'>
        <br>
        <label for="title">Revenue:</label>
        <input type="text" name='revenue'>
        <br>
        <input type="submit" value="Crear"> 
    </form>
    
</body>
</html>